.btn {
	border-radius: 6px;
	border: none;
  cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.8px;
	padding: 10px 20px;
	text-transform: uppercase;
}

.btn--primary {
  background-color: #7656e6;
  color: #FFFFFF;
}

.btn--secondary {
  background-color: #FFFFFF;
  color: #7656e6;
  border: 1px solid #7656e6;
}