@import 'https://fonts.googleapis.com/css?family=Rubik:400,700';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #ffffff;
	font-family: Rubik, Helvetica Neue, Arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#app {
	height: 100%;
	overflow-x: hidden;
}