.main {
  max-width: 900px;
  margin: 0 auto;
}

.main__head h2 {
  margin-top: 4%;
  margin-bottom: 0px;
	font-size: 28px;
	line-height: 1.36;
}

.main__head p {
  margin: 0;
  opacity: 0.5;
	font-size: 14px;
	line-height: 2.71;
}

.main__content {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 80px;
  margin: 4% 0;
}