.container {
  margin: auto;
  width: 62%;
  margin-left: 38%;
  padding-right: 5%;
}

.logoWrapper {
  display: none;
  align-items: center;
  margin-top: 20px;
}

.logo {
  float: left;
  width: 140px;
}

.logoText {
  position: relative;
  left: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 1px;
  z-index: 1;
}

.flag {
  font-size: 15px;
  color: black;
  position: relative;
  top: 2px;
}

.main {
  clear: both;
  margin: 5% auto 0;
  z-index: 1;
}

.content {
  border-radius: 10px;
}

.head {
  color: #000000;
  font-size: 38px;
  font-weight: bold;
  line-height: 48px;
  max-width: 600px;
  width: 85%;
}

.featuresList {
  margin-top: 2rem;
}

.featuresList>li {
  display: inline-block;
  list-style: none;
  margin-bottom: 1.5rem;
  margin-right: 2rem;
}

.featuresList>li:last-child {
  margin-right: 0;
}

.featuresList>li>p {
  float: left;
  font-size: 18px;
}

.featuresDesc {
  margin-left: 0.5rem;
  display: inline-block;
}

.featuresDesc>h4 {
  font-size: 20px;
  font-weight: 100;
}

.featuresDesc>p {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0.3rem;
}

.cardWrapper {
  margin: 2rem 0;
}

.cardListWrapper {
  display: grid;
}

.cardList {
  list-style: none;
}

.cardListLeft {
  grid-column: 1;
}

.cardListRight {
  grid-column: 2;
}

.card {
  width: 300px;
  position: relative;
  margin-bottom: 2rem;
}

.card > img {
  cursor: pointer;
  height: auto;
  width: 100%;
  border-radius: 6px;
  box-shadow: none;
  margin-bottom: 1rem;
  transition:  cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.card>img:hover {
  box-shadow: 0px 8px 32px rgba(136, 138, 148, 0.3);
}

.card > p{
  font-size: 18px;
  font-weight: bold;
}

.btn {
  position: relative;
  background-color: #566EE6;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 18px 24px 21px;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 30px;
  box-shadow: 0px 8px 24px rgba(86, 110, 230, .3);
  cursor: pointer;
  transition: all 0.075s ease-in;
}

.btn:hover {
  background-color: #7656E6;
  box-shadow: 0px 8px 32px rgba(86, 110, 230, .3);
  transform: scale(1.03);
}

.btn:focus {
  outline: 0;
}

.arrowRight {
  margin-left: 6px;
  position: relative;
  top: 2px;
  width: 16px;
}

.note {
  font-size: 14px;
  text-transform: uppercase;
  color: #F74E4E;
  display: inline-block;
  margin-left: 24px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 60%;
    margin-left: 40%;
    /* padding-right: 5%; */
  }
}

@media only screen and (max-width:480px) {
  .container {
    width: 90%;
    margin: auto;
    padding-right: 0;
  }
  .logoWrapper {
    display: flex;
  }
  .main {
    margin: 5% auto 0;
  }
  .featuresList>li {
    display: block;
  }
  .featuresDesc>h4 {
    font-size: 18px;
  }
  .featuresDesc>p {
    font-size: 12px;
  }
  .head {
    display: inline-block;
    margin-top: 1rem;
    font-size: 26px;
    line-height: 32px;
  }
  .btn {
    margin-top: 10px;
  }
  .note {
    margin-left: 8px;
  }
  .featuresList {
    margin-top: 1.5rem;
  }
  .cardWrapper {
    margin: 12% 0px;
  }
  .cardListWrapper {
    display: block;
  }  
  .card {
    margin-bottom: 1rem;
  }
  .card > img {
    margin-bottom: 0.5rem;
  }
}