.filter {
  background-color: #f3f3f3;
  padding: 8px;
  height: 52px;
}

.filter .Select {
  display: inline-block;
}

.filter .Select:last-child {
  float: right;
}

.filter .Select-control {
  border: none;
  min-width: 100px;
  background: transparent;
}

.filter .Select:nth-child(2)>.Select-control {
  min-width: 140px
}

.filter .Select-control:hover {
  box-shadow: none;
}

@media only screen and (max-width: 480px) {
  .filter {
    height: auto;
  }
  .filter .Select {
    display: block;
    margin: 8px 0;
  }
  .filter .Select:last-child {
    float: none;
  }
}