.filter {
  background-color: #f3f3f3;
  padding: 8px;
  height: 52px;
}

.filter .Select {
  display: inline-block;
}

.filter .Select:last-child {
  float: right;
}

.filter .Select-control {
  border: none;
  width: 120px;
  background: transparent;
}

.filter .Select-control:hover {
  box-shadow: none;
}