.post {
  height: 180px;
  overflow: hidden;
  position: relative;
}

.post__media {
  position: absolute;
  top: 0;
  left: 0;
}

.post__content {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
  background-color: #ffffff;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post__content:hover > img {
  opacity: 0.7;
}

.post__content p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  margin-right: 16px;
}

.post__content img {
  width: 20px;
  height: 20px;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}
