.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.modal {
  width: 50%;
  border-radius: 6px;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 8px 24px rgba(16, 26, 71, 0.3);
}

.modal__header,
.modal__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-weight: bold;
  background-color: #f7f8fa;
}

.modal__header h3 {
  margin: 0;
}

.modal__close {
  background: none;
  border: none;
  cursor: pointer;
}

.modal__body {
  position: relative;
  padding: 6%;
}

.modal__footer {
  justify-content: flex-end;
}

@media only screen and (max-width: 480px) {
  .modal {
    width: 100%;
  }
}

.tr-modal-overlay-enter {
  opacity: 0.01;
}

.tr-modal-overlay-enter-active {
  opacity: 1;
  will-change: opacity;
  transition: opacity 0.3s ease;
}

.tr-modal-overlay-exit {
  opacity: 1;
}

.tr-modal-overlay-exit-active {
  opacity: 0.01;
  will-change: opacity;
  transition: opacity 0.3s ease;
}

.tr-modal-appear {
  transform: scale(0.5) translateY(-50%);
}

.tr-modal-appear-active {
  transform: scale(1) translateY(0);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tr-modal-exit {
  transform: scale(1) translateY(0);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.tr-modal-exit-active {
  transform: scale(0.5) translateY(50%);
}