.wrapper {
  padding: 1rem 0 3rem 0;
}

.title {
  text-align: center;
  margin: 10px 2rem;
  margin-bottom: 2rem;
  font-size: 22px;
  font-weight: lighter;
}

.list {
  list-style: none;
  padding: 5px;
}

.listItem {
  cursor: pointer;
  border-radius: 4px;
  border-top: 1px solid #f7f8fa;
}

.listItem:last-child {
  border-bottom: 1px solid #f7f8fa;
}

.listItem:hover {
  background: #f7f8fa;
}

.label {
  cursor: pointer;
  width: 100%;
  padding: 0.8rem;
  display: flex;
  align-items: center;
}

.label > p {
  font-size: 18px;
  color: rgba(0,0,0,0.7);
}

.label > input[type='radio'] {
  margin-right: 20px;
}

.label > input:checked + p {
  color: rgba(0, 0, 0, 1);
}