.wrapper {
  padding: 1rem 0;
}

.title {
  margin: 10px 2rem;
  font-size: 20px;
  color: rgba(0,0,0,0.85);
}

.list {
  list-style: none;
  padding: 5px;
}

.listItem {
  cursor: pointer;
  /* margin: 8px 0; */
  padding: 0.8rem 2rem;
  border-radius: 4px;
}

.listItem:hover {
  background: #f7f8fa;
}

.listItem > input {
  margin: 0 10px;
}

.listItem > label {
  font-size: 18px;
  color: rgba(0,0,0,0.85);
}