.edit-profile {
  padding: 4% 5%;
}

.edit-profile h4 {
  margin: 0;
  margin-bottom: 6%;
}

.edit-profile__input-grp {
  display: grid;
  grid-template-columns: 30% auto;
  margin: 4% 0;
}

.edit-profile__input-grp label {
  display: flex;
  align-items: center;
  opacity: 0.5;
  font-size: 16px;
  line-height: 1.5;
}

.edit-profile__field > input,
.edit-profile__field > textarea {
  width: 100%;
  font-family: inherit;
  padding: 14px 12px;
  border-radius: 7px;
  font-size: 14px;
  border: 1px solid #00000033;
}

.edit-profile__field > span {
  transition: none;
}

.edit-profile__field .Select-control {
  padding: 6px 12px;
  border-radius: 7px;
  border: 1px solid #00000033;
}

.edit-profile__field .Select-control .Select-value {
  color: #000000;
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
}

.edit-profile__field .Select-placeholder {
  display: grid;
  font-size: 14px;
  align-items: center;
  color: #00000055;
}

.edit-profile__field.edit-profile__field--dob > input {
  width: 20%;
  text-align: center;
}

.edit-profile__field.edit-profile__field--dob > input:last-child {
  width: 30%;
}

.edit-profile__field.edit-profile__field--dob > span {
  margin: 0 2%;
  opacity: 0.5;
}

.edit-profile__field > input::placeholder,
.edit-profile__field > textarea::placeholder {
  font-size: 14px;
  color: #00000088;
  font-family: Source Sans Pro, sans-serif;
}

.edit-profile__field input[type="radio"] {
  margin: 4px 12px;
}

.edit-profile__filed--radio {
  display: flex;
  align-items: center;
}

.radio-grp {
  margin-right: 16px;
}

.file-input {
  overflow: hidden;
  border-radius: 4px;
  width: 260px;
  padding: 4px 0;
  position: relative;
  border-radius: 7px;
  background-color: #f4f4f4;
  border: dotted 2px #6e6e6e;
}

.file-input input {
  border: none;
  cursor: pointer;
  padding: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.file-input__label {
  text-align: center;
  margin: -10px 0;
  padding: 20px 0;
}
