.sidebar__footer {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.sidebar__footer a {
  color: #00000066;
	font-size: 14px;
  line-height: 1.93;
  text-decoration: none;
  transition: color 0.3s ease;
}

.sidebar__footer a:hover {
  color: #00000088;
}