.job-body__requirements {
  padding: 0;
  list-style: none;
}

.job-body__item {
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: 148px auto;
}

.job-body__item h4,
.job-body__item p {
  margin: 0;
}

.job-body__btn {
  width: 160px;
}

.job-body__footer p {
  font-size: 12px;
  color: #00000080;
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links__item {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}

.footer-link {
  font-weight: 600;
}