.business {
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #ffffff;
}

.business-link {
  font-size: 14px;
  color: #7656e6;
  text-decoration: none;
}

.limit-width {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.business-nav {
  padding: 16px 0;
}

.business-nav__brand > img {
  cursor: pointer;
  margin-right: 8px;
}

.business-nav__brand > p {
  margin: 0;
  color: #868686;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.business-nav__brand > p > span {
  margin-right: 4px;
}

.business-home {
  margin-top: 8%;
  margin-bottom: 4%;
  display: grid;
  grid-template-columns: auto auto;
}

.business-home__content > h1,
.business-home__content > p {
  margin: 0;
}

.business-home__content > h1 {
  font-weight: normal;
  font-size: 30px;
  line-height: 1.36;
}

.business-home__content > p {
  margin-top: 4%;
  opacity: 0.5;
  font-size: 16px;
  line-height: 1.57;
  color: #000000;
}

.business-cta {
  margin-top: 8%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.business-cta__btn {
  padding: 14px 22px;
}

.business-cta__note {
  color: #f74e4e;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.business-home__content > a {
  margin-top: 12%;
  display: block;
}

.business-about {
  padding: 4% 0;
  background-color: rgba(118, 86, 230, 0.02);
  border: solid 1px #e4d6ff;
}

.business-about__description > h2,
.business-about__content > h2,
.business-about__description > p {
  margin: 0;
}

.business-about__description > h2,
.business-about__content > h2 {
  opacity: 0.5;
  font-size: 30px;
  line-height: 1.36;
  color: #181849;
}

.business-about__description > p {
  margin-top: 12px;
  line-height: 1.57;
  font-size: 16px;
}

.business-about__content {
  padding-right: 20%;
}

.business-about__advantages {
  margin-top: 3%;
  display: grid;
  grid-template-columns: auto auto;
}

.advantages-list {
  padding: 0;
  list-style: none;
}

.advantages-list__item {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2%;
  margin-top: 2%;
}

.advantages-list__item > img {
  margin-top: 6px;
}

.advantages-list__item > p {
  margin: 0;
  line-height: 1.57;
  font-size: 16px;
}

.business-about__shape {
  padding: 4% 0;
}

.business-jobs {
  padding: 4% 0;
}

.business-jobs > h2 {
  font-size: 30px;
  line-height: 1.36;
  margin: 0;
}

.business-jobs__onsite,
.business-jobs__remote {
  margin-top: 8%;
}

.business-jobs__heading {
  display: flex;
  align-items: center;
}

.business-jobs__heading > h3 {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.9;
  letter-spacing: 2.3px;
  font-weight: normal;
  margin: 0;
  margin-right: 4%;
}

.business-jobs__heading > hr {
  flex: 1;
  border: 1px solid #979797;
  opacity: 0.4;
}

.business-jobs__list {
  padding: 0;
  margin: 4% 0;
  /* Unethical work - I'm sorry */
  align-items: baseline !important;
  list-style: none;
}

.business-jobs__category {
  width: 280px;
}

.business-jobs__category > img {
  height: 150px;
}

.business-jobs__category > h4,
.business-jobs__category > p {
  margin: 0;
}

.business-jobs__category > h4 {
  line-height: 1.22;
  margin-top: 8px;
}

.business-jobs__category > p {
  opacity: 0.5;
  font-size: 16px;
  line-height: 1.57;
  margin-top: 4px;
}

.business-jobs__category > button {
  margin-top: 12px;
}

.business-jobs__list--expanded {
  margin-left: -14%;
  margin-right: -14%;
}

.business-stats {
  padding: 4% 0;
  background-color: rgba(118, 86, 230, 0.02);
  border: solid 1px #e4d6ff;
  position: relative;
  padding-bottom: 250px;
}

.business-stats__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.business-stats__item > span {
  font-size: 40px;
}

.business-stats__item > p {
  margin: 0;
  margin-top: 4px;
  font-size: 28px;
  line-height: 1.36;
}

.business-stats__item > h4 {
  margin: 0;
  margin-top: 8px;
  font-size: 20px;
  opacity: 0.5;
  line-height: 1.9;
}

.business-stats h3 {
  line-height: 1.36;
  font-size: 30px;
  margin: 0;
  opacity: 0.5;
  margin-top: 8%;
}

.business-stats__reviews {
  margin-top: 16px;
  position: absolute;
}

.review-card {
  border-radius: 4px;
  height: 300px;
  margin: 12px 8px;
  padding: 18px 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.review-card > p {
  font-size: 16px;
  line-height: 1.59;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.review-card > h4 {
  opacity: 0.5;
  font-size: 16px;
  line-height: 1.8;
  color: #ffffff;
  margin: 0;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.review-card:nth-child(1) {
  background-color: #8a593d;
  box-shadow: 0 22px 24px 0 rgba(0, 0, 0, 0.1);
}

.review-card:nth-child(2) {
  background-color: #7a3939;
  box-shadow: 0 22px 24px 0 rgba(0, 0, 0, 0.1);
}

.business-contact {
  text-align: center;
  padding-top: calc(4% + 120px);
  padding-bottom: 2%;
}

.business-contact--limit {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.business-contact__head {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  line-height: 1.36;
}

.business-contact__desc {
  margin: 8px 0;
  line-height: 2.38;
}

.business-contact__seperator {
  display: flex;
  align-items: center;
}

.business-contact__seperator > hr {
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.business-contact__seperator > span {
  font-weight: bold;
  margin: 0 12px;
}

.business-contact__details {
  line-height: 1.75;
  padding: 0 20%;
}

.business-contact__cta {
  margin: 4% auto;
  padding: 20px;
}

.business-contact__form {
  margin: 2% 0;
}

.business-contact__input-grp {
  text-align: left;
  display: inline-block;
  margin: 0 8px;
}

.business-contact__input-grp > label {
  opacity: 0.5;
  line-height: 1.5;
}

.business-contact__input-grp > input {
  border: 1px solid #00000033;
  border-radius: 7px;
  padding: 12px 16px;
  display: block;
  margin: 8px 0;
}

.text--highlighted {
  padding: 2px 4px;
  background-color: rgba(255, 210, 151, 0.38);
}

@media only screen and (max-width: 480px) {
  .business-nav {
    padding: 16px 8px;
  }
  .business-home {
    padding: 0 20px;
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .business-home__shape {
    display: none;
  }
  .business-about {
    padding: 4% 20px;
  }
  .business-about__shape {
    display: none;
  }
  .business-about__advantages {
    margin-top: 8%;
  }
  .business-about__description > p {
    margin-top: 2%;
  }
  .advantages-list {
    margin: 0;
  }
  .business-jobs {
    padding: 4% 20px;
  }
  .business-jobs__list {
    display: block;
    margin: 4% 0;
  }
  .business-jobs__list--expanded {
    margin: 0;
  }
  .business-jobs__category {
    display: block;
    margin: 8% 0;
  }
  .business-jobs__category > button {
    margin-top: 6px;
  }
  .business-stats {
    padding: 4% 20px;
  }
  .business-stats__item > span {
    font-size: 32px;
  }
  .business-stats__item > p {
    font-size: 24px;
  }
  .business-stats__item > h4 {
    font-size: 14px;
  }
  .business-stats__reviews {
    position: relative;
  }
  .review-card {
    height: 260px;
  }
  .business-contact {
    padding: 8% 20px;
  }
  .business-contact__form {
    text-align: left;
  }
  .business-contact__details {
    padding: 0 8%;
  }
  .business-contact__input-grp {
    display: block;
    padding: 0 8%;
  }
  .business-contact__input-grp > input {
    width: 100%;
  }
  .business-contact__cta {
    margin: 12% auto;
  }
}
