.applications h4 {
  text-align: center;
}

.applications__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.applications__list>li {
  margin-bottom: 16px;
}

.applications__item {
  padding: 20px;
}

.applications__status-text {
  margin: 16px 0px 8px 0px;
  opacity: 0.5;
}

.applications__status {
  display: flex;
  align-items: center;
}

.applications__status .Select {
  width: 50%;
}

.applications__status-submit {
  margin-left: 12px;
}

/********************************************* 
 Transition group classes
********************************************/

.tr-applications-item-enter,
.tr-applications-item-appear {
  opacity: 0.01;
  transform: translateX(100%);
}

.tr-applications-item-enter-active,
.tr-applications-item-appear-active {
  opacity: 1;
  transform: translateX(0);
  will-change: opacity transform;
  transition: all 0.3s ease;
}