.applications h4 {
  text-align: center;
}

.applications__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.applications__list>li {
  margin-bottom: 16px;
}

.applications__item {
  padding: 20px;
}

.applications__status-text {
  margin: 16px 0px 8px 0px;
  opacity: 0.5;
}

.applications__status {
  display: flex;
  align-items: center;
}

.applications__status .Select {
  width: 50%;
}

.applications__status-submit {
  margin-left: 12px;
}