.job-alert {
  margin: 16px 0;
  padding: 8% 12%;
  text-align: center;
}

.job-alert__logo {
  width: 60px;
}

.job-alert__title {
  margin: 4px 8px;
}

.job-alert__form {
  margin-top: 12px;
}

.job-alert__form input,
.job-alert__form button {
  width: 100%;
  margin-top: 8px;
}

.job-alert__form input {
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid #00000019;
}

/* .post {
  height: 180px;
  overflow: hidden;
  position: relative;
}

.post__media {
  position: absolute;
  top: 0;
  left: 0;
}

.post__content {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
  background-color: #FFFFFF;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post__content p {
  margin: 0;
  font-size: 12px;
	font-weight: 600;
	line-height: 1.5;
  margin-right: 16px;
}

.post__content img {
  width: 20px;
  height: 20px;
  opacity: 0.4;
} */